


/* ------HEADER VIDEO----- */


.video-header, .video-header , .video-header  {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

video{
    width: 100vw;
    height: 70vh;
    top: 0;
    left: 0; 
  
}

.video-header, video {
    
    object-fit: cover;
}

/*  slutt på video header*/


/*--------------CSS NAVBAR START--------------*/
.HeaderGrid{
    grid-column: 1 / span 5; 
    grid-row: 1;
    overflow: hidden;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.HeaderGrid ul { 
    list-style-type: none; /* fjerner kulepunkt som er standard for lister*/
    overflow: hidden; /* styrer hva som skjer med innhold som er for stort til å passe inn i et område. "hidden" forteller at innhold som ikke får plass i "boksen" blir skjult/klippet vekk*/
}

.HeaderGrid li { 
    float: left; /* plasserer listen til venstre*/
}
  
.HeaderGrid li a { /* css for hvert element "li" refirerer til listeelementene i listen*/
    color: black;
    text-align: center;
    
    text-decoration: none;
    font-size: 20px;
}
  
.HeaderGrid li a:hover { /* gjør "boksene" endrer farge når muspekeren treffer dem*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(244, 242, 242);
  
}

.test{
    background-color: white;
}
/*-----------CSS TIL NAVBAR SLUTT-----------*/
 
/*her kommer overskriften*/
#overskrift{
    display: flex;
    justify-content: center;
    margin: 0  auto;
    margin: 15vh;
}

/* --- En kort intro type ---*/
.så-langt{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 2.2;
    
}

/*------ -------------nå begynner jeg på de kortene--------------------*/



/*her er sånn genrell still osv.*/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: white 1px solid;
    text-align: center;
    color: black;
}

.card a{
    color: black;   
}

/*-- nth-child (tall) referer til hvilken "objekt" i div boksen skal endres. Må bruke denne slik at bildene blir
 påvirket, ellers kan ikke man skrive width/height i ".card" som ligger over -----*/
.card :nth-child(1){
    width: 100%;
    height: 60%; 
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 30px 30px 10px rgba(0,0,0,0.2);
}


#galleri-idrett {
    display: grid;
    
}

#galleri-plassering{
    display: flex;
    justify-content: center;
}



/* ------ HER begynner jeg på hoveddelen ----- */

.informasjon{
    display: grid;
    border: solid white 2px;
    overflow: hidden;
}
.informasjon-bilde{
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;

    display: flex;
    flex-wrap: wrap;
}

#informasjon-plassering{
    display: grid;
    row-gap: 10vh;
}


.informasjon-tekst{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: rgb(162, 156, 156) 1px double;
    line-height: 2.0;
    text-align: center;

}

.knapp{
    color: black;
    border-radius: 20%;
    text-align: center;
    border: rgb(220, 220, 220) 1px solid;
}
.knapp a{
    color: black;
    text-align: center;
    text-decoration: none;
}
.knapp:hover{
    border: white 1px solid;
    box-shadow: 0 4px 40px 2px rgba(0,0,0,0.2);
}

/* ---- FOOTER BEGYNNER HER ----- */
/* ====== FOOTER ========*/
.Footer{
    grid-column: 1/span 4;
    grid-row: 7;
}

.FooterFlexbox{ /*Dette er hele boksen med fotter*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 3px;
    color: black;
    opacity: 0.8; /* gjør området delvis gjennomsiktig*/
    height: 80vh;
    align-items: center;
    margin-top: 100px;

    /*tekst*/
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.FooterTekst{ /* venstre boks ("ta kontakt"-boksen)*/
    display: flex;
    padding: 30px;
    margin: auto 0;
    flex-direction: column;
    align-items: center;
    line-height: 4px; /* linjeavstand*/
}

.FooterTekst a{ 
    color: black; /* endrer "hyperlink-fargen" til svart*/
}

.vertikalLinje{ /* linjene mellom infomasjonen i fotter*/
    border-left: 2px solid black;
    height: 200px;
    position:absolute;
    left: 50%; /* plasserer linjen i midten av boksen*/
    }

.ikon{
    display: flex;
    flex-direction: row;
    padding: 20px;
}






