/* ---------- HER KOMMER @MEdia Quaries -----*/
/* Tilpasning for pc-skjerm*/
@media only screen and (max-width: 5200px) {

   
    .header{
        text-align: center;
        background-color: grey;
        height: 20vh;
    }
    
    .HeaderGrid li {
        padding: 16px 14px;
        font-size: 20px;
    }

    #intro{
        display: flex;
        justify-content: center;
        border: none;
    }
    .tekst{

        width: 50vw;
        border: solid black 3px;
        overflow: hidden;
        margin-top: 50px;
        margin-bottom: 100px;

    
        /*innhold*/
        align-items: center;
        justify-content: center;
        padding: 30px;
    
        /*tekst*/
        text-align: center;
        line-height: 1;
        font-size: 18px;
    }
     /* ----HOVEDDEL ! ---*/
    .hoveddel-1{
       display: grid;
       height: 70vh;

        display: flex;
    
        margin-bottom: 100px;
        width: 100vw;
    
        /* innhold*/
        align-items: center;
        justify-content: center;
    
        
        /*bakgrunn*/
       
        background-image: url(bilder/barn-takker-for-kampen.jpg);
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    
    
    .tekst-hoveddel-1{ /* hvit overlay med tekst*/
        display: flex;
        margin: auto 0;
        width: 600px;
        padding: 50px;
        line-height: 2;
        border-radius: 5px;
    
        background-color: white;
     
    }
    /* ----- BEgynner på del 2 ---*/

    #hoveddel-2{
      
        width: 100vw;
   
        overflow: hidden;
        height: 90vh;
       display: grid;
       grid-template-columns: repeat(4,1fr);
       
        

    }
    
    .info-boks-2{ /* grå bakgrunn til tekst (første "boks") måtte legge til en ekstra for at bakgrunnen skulle dekke hele lengden på siden*/
     
   
        grid-column: 1/span 2;
       

    }
    
    .tekst-hoveddel-2{ /* tekst flexbox (første "boks"). */
       
        margin: 80px;
        padding: 20px;
        text-align: start;
        overflow: hidden;
        line-height: 2;
        border: black solid 2px;
        text-decoration: none;   
    }
    
    .del2-img { /* for å se bildet*/
        
        width: 42vw;
        height: 60vh;
    
    }

    .hoveddel-2-bilde /* boksen med bildet*/{
        
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 3/ span 4;
        
    }
    

    /* ----- HOVEDDEL  ----*/
    .hoveddel-3{
        margin-top: 100px;
        width: 100vw;
      
        overflow: hidden;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        
    }
    .info-boks-3{ /* grå bakgrunn til tekst (første "boks") måtte legge til en ekstra for at bakgrunnen skulle dekke hele lengden på siden*/
     
      
        text-align: center;
        grid-column: 1/ span 2;
        grid-row: 1/ span 4;

        overflow: hidden;
        
    }
    
    .tekst-hoveddel-3{ /* tekst flexbox (første "boks"). */
        margin-top: 50px;
        margin-left: 80px;
        margin-right: 80px;
        padding: 10px;
        text-align: start;
        overflow: hidden;
        line-height: 1.8;
        border: black solid 2px;
        text-decoration: none;    
    }
    
    .del3-img{
  
        width: 45vw;
        height: 60vh;
    }

    .hoveddel-3-bilde{ /* bilde (andre "boks"*/
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 3/ span 4;
        grid-row: 1/ span 4;
    }
}

@media only screen and (max-width: 1050px){

    #hoveddel-2{
   
    }
    .tekst-hoveddel-2{
        margin: 40px;
    }
}

@media only screen and (max-width: 1100px){
    .hoveddel-3{
        height: 90vh;
    }
    .tekst-hoveddel-3{
        margin: 20px;
    }
}


/* --------------- Tiplasset IPad -------------*/

@media only screen and (max-width: 1000px) {
    
   
    .HeaderGrid li {
        padding-top: 40px;
        padding: 14px 16px; /* Top = 14px, bunn =16px */
    }

    .FooterTekst{ /* venstre boks ("ta kontakt"-boksen)*/
        display: flex;
        padding: 30px;
        margin: auto 0;
        flex-direction: column;
        align-items: center;
        line-height: 1.1; /* linjeavstand*/
    }

    .tekst{

        width: 50vw;
        border: solid black 3px;
        overflow: hidden;
        margin-top: 50px;
        margin-bottom: 100px;

    
        /*innhold*/
        align-items: center;
        justify-content: center;
        padding: 30px;
    
        /*tekst*/
        text-align: center;
        line-height: 1.6;
        font-size: 18px;
    }
     
    /* ----- BEgynner på del 2 ---*/

    #hoveddel-2{
      
        width: 100vw;
  
        overflow: hidden;
        height: 90vh;
       display: grid;
       grid-template-rows: repeat(6, 1fr);
       grid-template-columns: 10;
        

    }
    
    .info-boks-2{ /* grå bakgrunn til tekst (første "boks") måtte legge til en ekstra for at bakgrunnen skulle dekke hele lengden på siden*/
     
        
       grid-row: 1/ span 4;
       overflow: hidden;
       grid-column: 10;

    }
    
    .tekst-hoveddel-2{ /* tekst flexbox (første "boks"). */
       
        margin: 40px;
        padding: 10px;
        text-align: start;
        overflow: hidden;
        line-height: 2;
        border: black solid 2px;
        text-decoration: none;   
    }
    
    .del2-img { /* for å se bildet*/
        

        width: 100vw;
        height: 50vh;
    
    }

    .hoveddel-2-bilde /* boksen med bildet*/{
        
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 5/span 6;
        grid-column: 10;
        overflow: hidden;
        
    }
    

    /* ----- HOVEDDEL  ----*/
    .hoveddel-3{
        margin-top: 100px;
        margin-bottom: -100px;
        width: 100vw;
    
        overflow: hidden;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(6,1fr);
        
    }
    .info-boks-3{ /* grå bakgrunn til tekst (første "boks") måtte legge til en ekstra for at bakgrunnen skulle dekke hele lengden på siden*/
     
      
        text-align: center;
        grid-column: 1/ span 4;
        grid-row: 1/ span 4;
        overflow: hidden;
        
    }
    
    .tekst-hoveddel-3{ /* tekst flexbox (første "boks"). */
        margin: 40px;
        padding: 10px;
        text-align: start;
        overflow: hidden;
        line-height: 1.8;
        border: black solid 2px;
        text-decoration: none;    
    }
    
    .del3-img{
     
        width: 100vw;
        height: 40vh;
    }

    .hoveddel-3-bilde{ /* bilde (andre "boks"*/
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/ span 4;
        grid-row: 5/span 6;
    }
       
}

@media only screen and (max-width: 780px) {
    .hoveddel-3{
        height: 110vh;
     
    }

    .del3-img{
        height: 40vh;
    }

}

@media only screen and (max-width: 712px) {
    .hoveddel-3{
        height: 120vh;
      
    }

    .del3-img{
        height: 40vh;
    }
}

/*  ------------------Tiplasset tlf -------------*/
@media only screen and (max-width: 650px) {
   
    

    .HeaderGrid{
        height: 13vh;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .HeaderGrid li a{
        font-size: 18px;
        padding: 5px 5px; /* Top = 14px, bunn =16px */
       
    }
    .HeaderGrid img{
        height: 13vh;
    
    }

    .FooterTekst{ /* venstre boks ("ta kontakt"-boksen)*/
        display: flex;
        padding: 30px;
        margin: auto 0;
        flex-direction: column;
        align-items: center;
        line-height: 1; /* linjeavstand*/
    }

    /* ----- BEgynner på del 2 ---*/

    #hoveddel-2{
      
        
      
        width: 100vw;
        overflow: hidden;
        height: 100vh;
       display: grid;
       grid-template-rows: repeat(6, 1fr);
       grid-template-columns: 10;
        
        

    }
    
    .info-boks-2{ /* grå bakgrunn til tekst (første "boks") måtte legge til en ekstra for at bakgrunnen skulle dekke hele lengden på siden*/
     
        grid-row: 1/ span 4;
       overflow: hidden;
       grid-column: 10;
       

    }
    
    .tekst-hoveddel-2{ /* tekst flexbox (første "boks"). */
       
        margin: 40px;
        padding: 10px;
        text-align: start;
        overflow: hidden;
        line-height: 2;
        border: black solid 2px;
        text-decoration: none;   
    }
    
    .del2-img { /* for å se bildet*/
        
     
        width: 100vw;
        height: 55vh;
    
    }

    .hoveddel-2-bilde /* boksen med bildet*/{
        
        
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 5/span 6;
        grid-column: 10;
        overflow: hidden;
        
    }
    

    /* ----- HOVEDDEL  ----*/
    .hoveddel-3{
        margin-top: 100px;
        margin-bottom: -100px;
        width: 100vw;
      
        overflow: hidden;
        height: 120vh;
        display: grid;
        grid-template-rows: repeat(6,1fr);
        
    }
    .info-boks-3{ /* grå bakgrunn til tekst (første "boks") måtte legge til en ekstra for at bakgrunnen skulle dekke hele lengden på siden*/
     
        
        text-align: center;
        grid-row: 1/ span 4;
        overflow: hidden;
        
    }
    
    .tekst-hoveddel-3{ /* tekst flexbox (første "boks"). */
        margin: 20px;
        padding: 10px;
        text-align: start;
        overflow: hidden;
        line-height: 1.8;
        border: black solid 2px;
        text-decoration: none;    
    }
    
    .del3-img{
        height: 40vh;
    }

    .hoveddel-3-bilde{ /* bilde (andre "boks"*/
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 5/span 6;
    }
}

@media only screen and (max-width: 540px) {
    .hoveddel-3{
        height: 125vh;
       
    }

    .del3-img{
        height: 42vh;
    }

    #hoveddel-2{
        
        height: 115vh;
    }

}