

html,body{ /* fjerner irriterende hvit kant på innhold*/
    padding: 0;
    margin: 0;
   
}

.header{
    border: red 2px solid;
}
/*--------------CSS NAVBAR START--------------*/
.HeaderGrid{
    grid-column: 1 / span 5; 
    grid-row: 1;
    overflow: hidden;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.HeaderGrid ul { 
    list-style-type: none; /* fjerner kulepunkt som er standard for lister*/
    overflow: hidden; /* styrer hva som skjer med innhold som er for stort til å passe inn i et område. "hidden" forteller at innhold som ikke får plass i "boksen" blir skjult/klippet vekk*/
}

.HeaderGrid li { 
    float: left; /* plasserer listen til venstre*/
}
  
.HeaderGrid li a { /* css for hvert element "li" refirerer til listeelementene i listen*/
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
  
.HeaderGrid li :hover { /* gjør "boksene" endrer farge når muspekeren treffer dem*/
    border-bottom: black solid 1px;
}


.test{
    background-color: white;
}
/*-----------CSS TIL NAVBAR SLUTT-----------*/



/*=========INTRODUKSJON============*/

#intro{
    border: solid black 3px;
    overflow: hidden;
    
    /*innhold*/
    align-items: center;
    justify-content: center;

}

/*=======HOVEDDEL:==========*/

/* =========== Del 1- kort forklaring + bilde ======== */

.hoveddel-1{

    display: flex;


    /* innhold*/
    align-items: center;
    justify-content: center;

    
    /*bakgrunn*/
    background-color: rgb(58, 57, 57);
  
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(50%); /* legger på grått filter på bildet. gir bedre lesbarhet*/
    opacity: 0.8; /* gjør bilde mindre tydelig.*/
}


.tekst-hoveddel-1{ /* hvit overlay med tekst*/
    display: flex;
    margin: auto 0;



    background-color: white;
    opacity: 0.7; 
}
    
     
/* ========== DEL- 2 hva er bakgrunnen for LIM ============*/ 
/* delte innholdet inn i to grid bokser. Den ene med tekst og den andre med bilde. */

.hoveddel-2{ /* grå bakgrunn til tekst (første "boks") måtte legge til en ekstra for at bakgrunnen skulle dekke hele lengden på siden*/

    text-align: center;

}

.tekst-hoveddel-2{ /* tekst flexbox (første "boks"). */
    
    border: black solid 2px;
    text-decoration: none;   
}

.hoveddel-2-bilde{ /* (andre "boks" for bilde*/
    background-color:rgb(144, 56, 56);
    justify-content: center;
    align-items: center;
}

.del2-img /*selve bilde*/{
        background-image: url(bilder/fotball-barn.jpg);
        background-repeat : no-repeat;
        background-size : cover;
        background-position: center;
    
    }

/* ======== DEl 3=======*/

.hoveddel-3{

    text-align: center;
}

.tekst-hoveddel-3{ /* tekst flexbox (første "boks"). */
   
   
    text-align: start;

    border: black solid 2px;
    text-decoration: none;   
}

.hoveddel-3-bilde{ /* (andre "boks" for bilde*/
    display: flex;
    background-color:grey;
    justify-content: center;
    align-items: center;
}

.del3-img /*bildet i boksen*/
{
    background-image: url(bilder/high-five.jpg);
    background-repeat : no-repeat;
        background-size : cover;
        background-position: center;
}


/* ====== FOOTER ========*/
.Footer{
    grid-column: 1/span 4;
    grid-row: 7;
}

.FooterFlexbox{ /*Dette er hele boksen med fotter*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 3px;
    color: black;
    opacity: 0.8; /* gjør området delvis gjennomsiktig*/
    height: 80vh;
    align-items: center;
    margin-top: 100px;

    /*tekst*/
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.FooterTekst{ /* venstre boks ("ta kontakt"-boksen)*/
    display: flex;
    padding: 30px;
    margin: auto 0;
    flex-direction: column;
    align-items: center;
    line-height: 4px; /* linjeavstand*/
}

.FooterTekst a{ 
    color: black; /* endrer "hyperlink-fargen" til svart*/
}

.vertikalLinje{ /* linjene mellom infomasjonen i fotter*/
    border-left: 2px solid black;
    height: 200px;
    position:absolute;
    left: 50%; /* plasserer linjen i midten av boksen*/
    }

.ikon{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
